#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3,80px);
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.cells {
  width: 80px;
  height: 80px;
  background-color: hsl(340, 31%, 89%);
  border: 2px solid #ff0095;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}